:root {
    --mainfont: 'krub';
    --white: #ffff;
    --primary: #ffc107;
    --secondory: #0097a7;
    --gray: #757575;
    --daerk: #212121;
}

html {
    box-sizing: border-box;

}


*,
*::after,
*::before {
    line-height: 1.5;
    font-family: var(--mainfont);
    margin: auto 0;
    padding: auto 0;
}


a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
}

.hero-content h1,
.hero-content p {
    margin: 8px 0px;
    color: var(--white);
    z-index: 1;
}

.button {
    background-color: var(--secondory);
    text-transform: uppercase;
    color: var(--white);
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: bold;
    margin: 16px 0px;
    z-index: 1;
}

@media (max-width:770px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.hero-content {
    height: 450px;
    background-image: url('image/hero.jpg');
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-content::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.myservice {
    border-radius: 16px;
    background: whitesmoke;
    box-shadow: 4px 4px 10px var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title {
    text-align: center;
    margin: 16px;
}

.web,
.app,
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

.web h3,
.app h3,
.social h3 {
    color: var(--secondory);
    font-size: 30px;
    font-weight: 100;
    margin: 16px 0px;
}

.web p,
.app p,
.social p {
    text-align: center;
    margin: 16px 0px;
}

.web div,
.app div,
.social div {
    background: var(--primary);
    border-radius: 300px;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}